#
# Copyright (c) 2023 Vincent Nguyen
# SPDX-License-Identifier: MIT
#

if BOARD_ALOIDIA_DONGLE

config ZMK_KEYBOARD_NAME
	default "aloidia dongle"

config ZMK_SPLIT
	default y

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y
	
endif # BOARD_ALOIDIA_DONGLE

if BOARD_ALOIDIA_LEFT || BOARD_ALOIDIA_RIGHT

config BOARD
	default "aloidia"

config I2C
	bool
	default y

config SPI
    bool
    default y	

config MAX17048
	default y

config ZMK_DISPLAY
	select LVGL_FONT_MONTSERRAT_26

if ZMK_DISPLAY

config LS0XX_CUSTOM
	default y

config ZMK_WIDGET_WPM_STATUS
	default y if !ZMK_SPLIT || ZMK_SPLIT_ROLE_CENTRAL

config LVGL_BITS_PER_PIXEL
	default 1

choice LVGL_COLOR_DEPTH
	default LVGL_COLOR_DEPTH_1
endchoice

endif # ZMK_DISPLAY

endif # BOARD_ALOIDIA_LEFT || BOARD_ALOIDIA_RIGHT

if BOARD_ALOIDIA_LEFT || BOARD_ALOIDIA_RIGHT || BOARD_ALOIDIA_DONGLE

config ZMK_SPLIT
	default y

if USB

config USB_DEVICE_STACK
	default y	

if USB_DEVICE_STACK

config USB_NRFX
	default y

endif # USB_DEVICE_STACK

endif # USB

config BT_CTLR
	default BT

config ZMK_BLE
	default y

config ZMK_USB
	default y

endif # BOARD_ALOIDIA_LEFT || BOARD_ALOIDIA_RIGHT || BOARD_ALOIDIA_DONGLE



